@import "tailwindcss";

@theme {
    --color-primary: rgba(14,56,76,1);
    --color-secondary: rgba(4, 109, 221, 1);
    --text-primary: rgba(14,56,76,1);
    --font-onest: onesta, sans-serif;
}

body{
    scroll-behavior: smooth;
}